<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="dbname" value="stacked" />
    <add key="username" value="azurecoder" />
    <add key="password" value="Password101!" />
    <add key="sqldbusername" value="azurecoder_db" />
    <add key="defaultstorage" value="stackedstorage" />
    <add key="mobileservicename" value="stackedmobile" />
    <add key="deploymentname" value="stacked deployment" />
    <add key="publishsettings" value="C:\Projects\Elastacloud\AllAccounts.publishsettings" />
    <add key="rdpfile" value="C:\Projects\Elastacloud\Fluent Examples\stackedliverpool.rdp" />
    <add key="vmroleservice" value="stackedliverpool" />
    <add key="cloudservice" value="stackedliverpoolpaas" />
    <add key="rolename" value="ExampleWebRole" />
    <add key="deploymentpath" value="C:\Projects\Elastacloud\Fluent Examples\TestCloudInstall\bin\Release\app.publish" />
    <add key="builddirectory" value="C:\Projects\Elastacloud\Fluent Examples\TestCloudInstall" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="a4292a325f69b123" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.7.4137.9283" newVersion="1.7.4137.9283" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>